 /* html {
	width: 440px;
	height: 300px;
	margin: 0px;
} */

div{
	width: 440px;
	height: 300px;
	display: none;
}

img {
	width:100%;
	/* height: 100%; */
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  /* -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s; */
  animation-name: fade1;
  animation-duration: 0.5s;
}

/* @-webkit-keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
} */

@keyframes fade1 {
  from {opacity: 0.4}
  to {opacity: 1}
}



